In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from pandas.tseries.holiday import USFederalHolidayCalendar

In [3]:
df = pd.read_csv('Desktop/csvs/weekend-weekday_6markets-1.csv')

In [4]:
df

,weekday-check,freq,market,driver,minutes
0,weekday,18,Walmart Orlando,1219paola@gmail.com,198.043846
1,weekend,18,Walmart Orlando,1219paola@gmail.com,255.070000
2,weekday,63,Walmart Orlando,24hrebels@gmail.com,277.248667
3,weekend,63,Walmart Orlando,24hrebels@gmail.com,359.760000
4,weekday,164,Walmart Orlando,69blesss@gmail.com,315.992072
...,...,...,...,...,...
9330,weekday,37,Walmart Virginia Beach,zouhair.bout@gmail.com,99.157407
9331,weekend,37,Walmart Virginia Beach,zouhair.bout@gmail.com,103.941000
9332,weekday,35,Walmart Virginia Beach,zuzuhaf@gmail.com,668.534583
9333,weekend,35,Walmart Virginia Beach,zuzuhaf@gmail.com,438.932500
9334,weekday,1,Walmart Virginia Beach,zyhariap@gmail.com,83.730000

In [5]:
bdays = pd.read_csv('Downloads/ages.csv')

In [6]:
bdays

                   DRVR_USER_ID                  MARKET_NM DRVR_BIRTH_DT
0         uzma4faisal@yahoo.com              Walmart Tulsa    1900-01-02
1          busmom1805@gmail.com              Walmart Tulsa    1969-06-10
2      kristina_theonly@aol.com              Walmart Tulsa    1991-01-18
3      kristina_theonly@aol.com              Walmart Tulsa    1991-01-18
4             pengu18@ymail.com              Walmart Tulsa    1989-05-18
...                         ...                        ...           ...
11354       deproinrl@gmail.com  Walmart South Minneapolis    1981-10-28
11355       jm.jeiemc@gmail.com  Walmart South Minneapolis    1996-04-14
11356      jelili1983@yahoo.com  Walmart South Minneapolis    1983-07-17
11357  marvin.tyler86@gmail.com  Walmart South Minneapolis    1986-08-04
11358   carlita_heard@yahoo.com  Walmart South Minneapolis    1996-09-20

[11359 rows x 3 columns]

In [7]:
df = pd.merge(df,bdays, left_on = 'driver',right_on = 'DRVR_USER_ID')

In [8]:
df = df.drop(columns = ['MARKET_NM','DRVR_USER_ID'], axis = 1)

In [9]:
df['DRVR_BIRTH_DT'] = pd.to_datetime(df['DRVR_BIRTH_DT'])

In [10]:
def age(birthdate):
    today = datetime.today()
    age = today.year - birthdate.year
    return age

In [11]:
df['age'] = df['DRVR_BIRTH_DT'].apply(lambda x: age(x))

In [12]:
df = df.drop('DRVR_BIRTH_DT',axis=1)

In [13]:
df = df.drop_duplicates()

In [14]:
df = df.reset_index(drop=True)

In [43]:
df[df['driver'] == '07familylife@gmail.com']

,weekday-check,freq,market,driver,minutes,age
7358,weekday,173,Walmart Virginia Beach,07familylife@gmail.com,248.041549,40.0
7359,weekend,173,Walmart Virginia Beach,07familylife@gmail.com,178.205200,40.0

In [44]:
df.dtypes

weekday-check     object
freq               int64
market            object
driver            object
minutes          float64
age              float64
dtype: object

In [48]:
df.groupby(['driver'],as_index=False)['minutes','weekday-check','freq','age','market'].max().to_csv('Desktop/ww_age.csv')

C:\Users\V0V01S7\AppData\Local\Temp\ipykernel_20272\2964434146.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['driver'],as_index=False)['minutes','weekday-check','freq','age','market'].max().to_csv('Desktop/ww_age.csv')

In [56]:
ww = df.groupby(['driver'],as_index=False)['minutes','freq','age','market'].max()

C:\Users\V0V01S7\AppData\Local\Temp\ipykernel_20272\3500220802.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ww = df.groupby(['driver'],as_index=False)['minutes','freq','age','market'].max()

In [59]:
ww.head()

                   driver     minutes  freq   age                  market
0  07familylife@gmail.com  248.041549   173  40.0  Walmart Virginia Beach
1       08erh11@gmail.com   28.550000     2  22.0           Walmart Tulsa
2  0taylor.rose@gmail.com  227.667647    26  31.0           Walmart Tulsa
3    1.ms2.r.3s@gmail.com  238.240833    17  31.0  Walmart San Jose North
4     111kmunos@gmail.com    0.870000     1  25.0  Walmart San Jose South

In [64]:
len(ww)

5047

In [60]:
df.head()

  weekday-check  freq           market               driver     minutes   age
0       weekday    18  Walmart Orlando  1219paola@gmail.com  198.043846  30.0
1       weekend    18  Walmart Orlando  1219paola@gmail.com  255.070000  30.0
2       weekday    63  Walmart Orlando  24hrebels@gmail.com  277.248667  29.0
3       weekend    63  Walmart Orlando  24hrebels@gmail.com  359.760000  29.0
4       weekday   164  Walmart Orlando   69blesss@gmail.com  315.992072  63.0

In [65]:
len(df)

9184

In [68]:
ww = pd.merge(ww,df,on=['minutes'],how='left')

In [70]:
ww = ww.drop_duplicates()
len(ww)

5269

In [73]:
ww = ww[ww['freq_x'] == ww['freq_y']]

In [74]:
ww = ww[ww['age_x'] == ww['age_y']]

In [77]:
ww = ww[ww['market_x'] == ww['market_y']]

In [79]:
ww = ww.drop(columns=['freq_x','age_x','market_x','driver_y'],axis=1)

In [81]:
ww = ww.rename(columns={'driver_x':'driver','freq_y':'freq','market_y':'market','age_y':'age'})

In [83]:
ww.to_csv('Desktop/ww_age.csv')

In [87]:
ww.groupby(['weekday-check','driver']).sum()

                                               minutes  freq   age
weekday-check driver
weekday       07familylife@gmail.com        248.041549   173  40.0
              0taylor.rose@gmail.com        227.667647    26  31.0
              1.ms2.r.3s@gmail.com          238.240833    17  31.0
              111kmunos@gmail.com             0.870000     1  25.0
              11michaeljohnson11@gmail.com  151.958333     6  42.0
...                                                ...   ...   ...
weekend       zouhair.bout@gmail.com        103.941000    37  45.0
              zugeyl@gmail.com              391.417500    44  48.0
              zuleima_guzman@hotmail.com    197.962500    15  29.0
              zulianvargasfarfan@gmail.com  322.558000    36  27.0
              zurelysgimenez@gmail.com      225.000000    15  57.0

[5045 rows x 3 columns]

In [99]:
sorted(ww.age.to_list())

[3.0,
 4.0,
 18.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 ...]